[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
osmnx = "*"
matplotlib = "*"
shapely = "*"
pybind11 = "*"
python-multipart = "*"
ultralytics = "*"
torch-geometric = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
